{% load static %}

    <!-- Contact Section Begin -->
    <section class="contact-section spad pt-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-title">
                        <h2>Localisation</h2>
                        <p>Les J.U.IN se déroulent où ?</p>
                    </div>
                    <div class="cs-text">
                        <div class="ct-address">
                            <span>Adresse:</span>
                            <p>En face de l'extension 1, Université de Yaoundé 1.<br />Cameroun</p>
                        </div>
                        <ul>
                            <li>
                                <span>Téléphone:</span>
                                (+237) 699-016-727
                            </li>
                            <li>
                                <span>E-mail:</span>
                                info.comsasjuin2022@gmail.com
                            </li>
                        </ul>
                        <div class="ct-links">
                            <span>Site Web:</span>
                            <p>https://comsas.juin2022.com</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="cs-map">
                        <iframe
                            src="https://maps.google.com/maps?q=VF5X+3J4,%20Yaound%C3%A9&t=&z=13&ie=UTF8&iwloc=&output=embed"
                            height="400" style="border:0;" allowfullscreen=""></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section End -->