{% load static %}

        <!-- Newslatter Section Begin -->
    <section class="newslatter-section mb-5">
        <div class="container">
            <div class="newslatter-inner set-bg" data-setbg="{% static 'core/img/newslatter-bg.jpg' %}">
                <div class="ni-text">
                    <h3>Subscribe Newsletter</h3>
                    <p>Subscribe to our newsletter and don’t miss anything</p>
                </div>
                <form action="#" class="ni-form">
                    <input type="text" placeholder="Your email">
                    <button type="submit">Subscribe</button>
                </form>
            </div>
        </div>
    </section>
    <!-- Newslatter Section End -->

    <!-- Contact Section Begin -->
    <section class="contact-section spad pt-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-title">
                        <h2>Localisation</h2>
                        <p>Les J.U.IN se déroulent où ?</p>
                    </div>
                    <div class="cs-text">
                        <div class="ct-address">
                            <span>Address:</span>
                            <p>Près de l'Amphi 502 de l'université de Yaoundé 1<br />Cameroun</p>
                        </div>
                        <ul>
                            <li>
                                <span>Phone:</span>
                                (+227) 693-184-269
                            </li>
                            <li>
                                <span>Email:</span>
                                info.comsasjuin2022@gmail.com
                            </li>
                        </ul>
                        <div class="ct-links">
                            <span>Website:</span>
                            <p>https://comsas.juin2022.com</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="cs-map">
                        <iframe
                            src="https://maps.google.com/maps?q=VF5X+3J4,%20Yaound%C3%A9&t=&z=13&ie=UTF8&iwloc=&output=embed"
                            height="400" style="border:0;" allowfullscreen=""></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section End -->