@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

*{
  font-family: 'Lato', sans-serif;
}
.title {
  background: -webkit-linear-gradient(25deg, rgb(244, 145, 32), #f44949);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.4rem;
  font-weight: bolder;
}
.active{
  border-bottom: 3px solid white;
}

.other:hover{
 border-bottom: 3px solid white; 
}

.steps div{
  width: 100px;
  height: 150px;
  transform: rotate(45deg) translateY(10px);
  border-radius: 1rem;
}

.steps div:nth-child(1){
  border: 3px solid red;
}
.steps div:nth-child(2){
  border: 3px solid teal;
}
.steps div:nth-child(3){
  border: 3px solid rgb(244, 145, 32);
}
.steps div:nth-child(4){
  border: 3px solid #f44949;
}
.steps div:nth-child(5){
  border: 3px solid blue;
}
.steps div:nth-child(6){
  border: 3px solid grey;
}
.steps div:nth-child(7){
  border: 3px solid black;
}

.step p{
  transform: rotate(-45deg) translateY(-5px);
  font-size: 0.8rem;
}

.step h4{
   transform: rotate(-45deg) translateX(-40px);
   background: none;
}

