
{% extends 'core/base.html' %}

{% load static %}

<body>

{% block body %}
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section"style="background-image: url('static/core/img/ban.jpg'); position: relative; background-repeat: no-repeat; background-size: 84%; background-position:center ;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <h2>A propos de nous</h2>
                        <div class="bt-option">
                            <a href="/">Acceuil</a>
                            <span>A propos de nous</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- About Section Begin -->
    <section class="about-section spad pb-0">
        <div class="container">
            <div class="row ">
                <div class="col-lg-12">
                    <div class="section-title pt-5 ">
                        <h2>Origine des J.U.IN</h2>
                        <p class="f-para">L'an 2004 est l'année de naissance des <b><q>Journées Universitaires de l'Informatique</q></b>, les toutes
                            premières journées Universitaires de l'Université de Yaoundé I. Son but était de promouvoir les
                            compétences des étudiants de la filière Informatique de la Faculté des Sciences en mettant en relief non
                            seulement le savoir-faire mais aussi le savoir-être et le savoir vivre des étudiants tout en soulignant
                            leur importance pour les entreprises et le développement du Pays. Fort de sa réussite, la plupart des Clubs
                            de la Faculté des Sciences de l'Université ont copié en 2005 le bon exemple et aujourd'hui, les Journées
                            Universitaires constituent pour plusieurs Clubs l'événement majeur de leurs activités.</p>
                    </div>
                </div>
            </div>
    <!-- Home About Section Begin -->
    <section class="home-about-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="ha-pic">
                        <img src = "{% static 'core/img/juin.jpg' %}" class="welcome_img">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="ha-text">
                        <h2>La 17ème édition des J.U.IN</h2>
                        <p> Les J.U.IN (<span class="initiales">J</span>ournées <span class="initiales">U</span>niversitaires de l'<span class="initiales">IN</span>formatiques) sont un ensemble d'activités organisées par le COM.S.A.S de l'Université de Yaoundé I avec pour objectif de faire valoir le potentiel des étudiants de la filière informatique.
                        <br>En conviant non seulement tous les etudiants de l'université mais aussi divers entreprises et investisseurs, le but est de faire découvrir au grand public les attouts que possèdent les étudiants de la dite filière. 
                        Les J.U.IN nous reviennent  apres trois ans d'absence dû à la crise sanitaire  pour une nouvelle édition axée principalement sur la santé, ses défis et les opportunités qu'offre l’informatique dans le domaine de la santé.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Home About Section End -->
        </div>
    </section>
    <!-- About Section End -->


    <!-- Story Section Begin 
    <section class="story-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Historique</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="story-left">
                        <div class="story-item">
                            <h2>2019</h2>
                            <div class="si-text">
                                <h4>16ème edition des J.U.IN </h4>
                                <p>However this is also the most expensive position. Give it a try if the second to fourth display position gives you more visitors and more customers for less money.</p>
                            </div>
                        </div>
                        <div class="story-item">
                            <h2>2011</h2>
                            <div class="si-text">
                                <h4>Adwords Keyword Research For Beginners</h4>
                                <p>Virgin Mobile took a more effective approach in marketing their cell phone service by focusing not on the people that would be making the actual purchase.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="story-right">
                        <div class="story-item">
                            <h2>2015</h2>
                            <div class="si-text">
                                <h4>15 Tips To Increase Your Adwords Profits</h4>
                                <p>There is no better advertisement campaign that is low cost and also successful at the same time. Great business ideas when utilized effectively can save lots of money.</p>
                            </div>
                        </div>
                        <div class="story-item">
                            <h2>2019</h2>
                            <div class="si-text">
                                <h4>Advertising Internet Online Opportunities To Explore</h4>
                                <p>Many people sign up for affiliate programs with the hopes of making some serious money. They advertise a few places and then wait for the money to start pouring in.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Story Section End -->

    <!-- Testimonial Section Begin 
    <section class="testimonial-section spad pt-0">
        <div class="container pt-0">
            <div class="row pt-0">
                <div class="col-lg-12 pt-0">
                    <div class="section-title">
                        <h2>Témoignages</h2>
                        <p>Ce que pensent ceux qui ont assistés aux précédentes sessions</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="testimonial-slider owl-carousel">
                            <div class="col-lg-6 w-100 testi">
                                <div class="testimonial-item">
                                    <div class="ti-author">
                                        <div class="quote-pic">
                                            <img src = "{% static 'core/img/quote.png' %}">
                                        </div>
                                        <div class="ta-pic">
                                            <img src = "{% static 'core/img/schedule/schedule-1.jpg' %}">
                                        </div>
                                        <div class="ta-text">
                                            <h5>Emma Sandoval</h5>
                                            <span>Speaker Manager</span>
                                        </div>
                                    </div>
                                    <p>“First impression is made by logo or its absence. To know the importance of a logo just answer one question: How many big, leading and famous companies don’t have logos?”</p>
                                </div>
                            </div>
                            <div class="col-lg-6 w-100 testi">
                                <div class="testimonial-item">
                                    <div class="ti-author">
                                        <div class="quote-pic">
                                            <img src = "{% static 'core/img/quote.png' %}">
                                        </div>
                                        <div class="ta-pic">
                                            <img src = "{% static 'core/img/schedule/schedule-1.jpg' %}">
                                        </div>
                                        <div class="ta-text">
                                            <h5>Emma Sandoval</h5>
                                            <span>Speaker Manager</span>
                                        </div>
                                    </div>
                                    <p>“First impression is made by logo or its absence. To know the importance of a logo just answer one question: How many big, leading and famous companies don’t have logos?”</p>
                                </div>
                            </div>
                            <div class="col-lg-6 w-100 testi">
                                <div class="testimonial-item">
                                    <div class="ti-author">
                                        <div class="quote-pic">
                                            <img src = "{% static 'core/img/quote.png' %}">
                                        </div>
                                        <div class="ta-pic">
                                            <img src = "{% static 'core/img/schedule/schedule-1.jpg' %}">
                                        </div>
                                        <div class="ta-text">
                                            <h5>Emma Sandoval</h5>
                                            <span>Speaker Manager</span>
                                        </div>
                                    </div>
                                    <p>“First impression is made by logo or its absence. To know the importance of a logo just answer one question: How many big, leading and famous companies don’t have logos?”</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>-->
    <!-- Testimonial Section End -->

 <!-- Team Member Section Begin -->
 <section class="team-member-section mb-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Les Organisateurs</h2>
                    <p>Ils travaillent d'arrache pied pour rendre cette édition mémorable.</p>
                </div>
            </div>
        </div>
    </div>
    {% for organizer in organizers %}
        <div class="member-item set-bg" data-setbg="{{organizer.profile.url}}">
            <div class="mi-social">
                <div class="mi-social-inner bg-gradient">
                    <a href="{{organizer.facebook}}"><i class="fa fa-facebook"></i></a>
                    <a href="{{organizer.twitter}}"><i class="fa fa-twitter"></i></a>
                    <a href="{{organizer.linkedin}}"><i class="fa fa-linkedin"></i></a>
                </div>
            </div>
            <div class="mi-text">
                <h5>{{organizer.full_name|title}}</h5>
                <span>{{organizer.post|title}}</span>
            </div>
        </div>
        {% endfor %}

</section>
<!-- Team Member Section End -->
{% endblock %}
</body>
