
{% extends 'core/base.html' %}

{% load static %}

<body>

{% block body %}
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section"style="background-image: url('static/core/img/ban.jpg'); position: relative; background-repeat: no-repeat; background-size: 84%; background-position:center ;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <h2>A propos de nous</h2>
                        <div class="bt-option">
                            <a href="#">Acceuil</a>
                            <span>A propos de nous</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- About Section Begin -->
    <section class="about-section spad pb-0">
        <div class="container">
            <div class="row ">
                <div class="col-lg-12">
                    <div class="section-title pt-5 ">
                        <h2>Qui sommes-nous!?</h2>
                        <p class="f-para">There are several ways people can make money online. From selling products to advertising. In this article I am going to explain the concept of contextual advertising.</p>
                        <p>First I will explain what contextual advertising is. Contextual advertising means the advertising of products on a website according to the content the page is displaying. For example if the content of a website was information on a Ford truck then the advertisements would be for Ford trucks for sale, or Ford servicing etc. It picks up the words on the page and displays ads that are similar to those words. Then when someone either performs an action or clicks on your page you will get paid.</p>
                    </div>
                </div>
            </div>
    <!-- Home About Section Begin -->
    <section class="home-about-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="ha-pic">
                        <img src = "{% static 'core/img/s2.jpg' %}" class="welcome_img">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="ha-text">
                        <h2>Bienvenue à la 17 <sup>ème</sup> édition des J.U.IN</h2>
                        <p> Les J.U.IN (<span class="initiales">J</span>ournées <span class="initiales">U</span>niversitaires de l'<span class="initiales">IN</span>formatiques) sont un ensemble d'activités organisées par le COM.S.A.S de l'Université de Yaoundé I avec pour objectif de faire valoir le potentiel des étudiants de la filière informatique.
                        <br>En conviant non seulement tous les etudiants de l'université mais aussi divers entreprises et investisseurs, le but est de faire découvrir au grand public les attouts que possèdent les étudiants de la dite filière. </p>
                        <a href="{% url 'core:about' %}" class="primary-btn text-white top-btn solution pt-4" style="text-decoration: none;">En savoir davantage</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Home About Section End -->
        </div>
    </section>
    <!-- About Section End -->


    <!-- Story Section Begin -->
    <section class="story-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Historique</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="story-left">
                        <div class="story-item">
                            <h2>2008</h2>
                            <div class="si-text">
                                <h4>Adwords Keyword Research For Beginners</h4>
                                <p>However this is also the most expensive position. Give it a try if the second to fourth display position gives you more visitors and more customers for less money.</p>
                            </div>
                        </div>
                        <div class="story-item">
                            <h2>2011</h2>
                            <div class="si-text">
                                <h4>Adwords Keyword Research For Beginners</h4>
                                <p>Virgin Mobile took a more effective approach in marketing their cell phone service by focusing not on the people that would be making the actual purchase.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="story-right">
                        <div class="story-item">
                            <h2>2015</h2>
                            <div class="si-text">
                                <h4>15 Tips To Increase Your Adwords Profits</h4>
                                <p>There is no better advertisement campaign that is low cost and also successful at the same time. Great business ideas when utilized effectively can save lots of money.</p>
                            </div>
                        </div>
                        <div class="story-item">
                            <h2>2019</h2>
                            <div class="si-text">
                                <h4>Advertising Internet Online Opportunities To Explore</h4>
                                <p>Many people sign up for affiliate programs with the hopes of making some serious money. They advertise a few places and then wait for the money to start pouring in.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Story Section End -->

    <!-- Testimonial Section Begin -->
    <section class="testimonial-section spad pt-0">
        <div class="container pt-0">
            <div class="row pt-0">
                <div class="col-lg-12 pt-0">
                    <div class="section-title">
                        <h2>Témoignages</h2>
                        <p>Ce que pensent ceux qui ont assistés aux précédentes sessions</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="testimonial-slider owl-carousel">
                            <div class="col-lg-6 w-100 testi">
                                <div class="testimonial-item">
                                    <div class="ti-author">
                                        <div class="quote-pic">
                                            <img src = "{% static 'core/img/quote.png' %}">
                                        </div>
                                        <div class="ta-pic">
                                            <img src = "{% static 'core/img/schedule/schedule-1.jpg' %}">
                                        </div>
                                        <div class="ta-text">
                                            <h5>Emma Sandoval</h5>
                                            <span>Speaker Manager</span>
                                        </div>
                                    </div>
                                    <p>“First impression is made by logo or its absence. To know the importance of a logo just answer one question: How many big, leading and famous companies don’t have logos?”</p>
                                </div>
                            </div>
                            <div class="col-lg-6 w-100 testi">
                                <div class="testimonial-item">
                                    <div class="ti-author">
                                        <div class="quote-pic">
                                            <img src = "{% static 'core/img/quote.png' %}">
                                        </div>
                                        <div class="ta-pic">
                                            <img src = "{% static 'core/img/schedule/schedule-1.jpg' %}">
                                        </div>
                                        <div class="ta-text">
                                            <h5>Emma Sandoval</h5>
                                            <span>Speaker Manager</span>
                                        </div>
                                    </div>
                                    <p>“First impression is made by logo or its absence. To know the importance of a logo just answer one question: How many big, leading and famous companies don’t have logos?”</p>
                                </div>
                            </div>
                            <div class="col-lg-6 w-100 testi">
                                <div class="testimonial-item">
                                    <div class="ti-author">
                                        <div class="quote-pic">
                                            <img src = "{% static 'core/img/quote.png' %}">
                                        </div>
                                        <div class="ta-pic">
                                            <img src = "{% static 'core/img/schedule/schedule-1.jpg' %}">
                                        </div>
                                        <div class="ta-text">
                                            <h5>Emma Sandoval</h5>
                                            <span>Speaker Manager</span>
                                        </div>
                                    </div>
                                    <p>“First impression is made by logo or its absence. To know the importance of a logo just answer one question: How many big, leading and famous companies don’t have logos?”</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Testimonial Section End -->

<section class="mb-3">
<div class="card-group container mb-5">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h1 class="text-dark">Commités D'organisation</h1>
                        <h2>Nous l'avons conçu</h2>
                    </div>
                </div>
  <div class="card cardOut m-1">
    <div class="cardIn">
    <img src="{% static 'core/img/c.jpg' %}" class="card-img-top" alt="..." style="height: auto;">
    <div class="card-body">
      <h2 class="card-title">Tech talk</h2>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    </div>
  </div>
  <div class="card cardOut m-1">
    <div class="cardIn">
    <img src="{% static 'core/img/tg.webp' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h2 class="card-title">Jeux</h2>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
    </div>
  </div>
  <div class="card cardOut m-1">
    <div class="cardIn">
    <img src="{% static 'core/img/s.jpeg' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h2 class="card-title">Tours des partenaires</h2>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
    </div>
  </div>
  <div class="card cardOut m-1">
    <div class="cardIn">
    <img src="{% static 'core/img/n.jpg' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h2 class="card-title">soirée</h2>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
    </div>
  </div>
</div>

</section>
{% endblock %}
</body>
