
{% extends 'core/base.html' %}

{% load static %}

{% block body %}
<body>
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section mb-5"style="background-image: url('static/core/img/sche.jpg'); position: relative; background-repeat: no-repeat; background-size: 84%; background-position:center ;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <h2>Event Schedule</h2>
                        <div class="bt-option">
                            <a href="#">Home</a>
                            <span>Our Schedule</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->
    <!-- Schedule Table Section Begin -->
    <section class="schedule-table-section spad pb-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="schedule-table-tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <p class="nav-link"  href="#tabs-1" role="tab">Debat</a>
                            </li>
                            <li class="nav-item">
                                <p class="nav-link"  href="#tabs-2" role="tab">Seminaire</a>
                            </li>
                            <li class="nav-item">
                                <p class="nav-link"  href="#tabs-3" role="tab">Gastronomie</a>
                            </li>
                            <li class="nav-item">
                                <p class="nav-link"  href="#tabs-4" role="tab">Jeux Videos</a>
                            </li>
                            <li class="nav-item">
                                <p class="nav-link"  href="#tabs-5" role="tab">Presentation </a>
                            </li>
                        </ul><!-- Tab panes -->
                        <section class="schedule-section spad">
                            <div class="container">
                                
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="schedule-tab">
                                            <ul class="nav nav-tabs" role="tablist">
                                                {% for journey in journeys %}
                                                    {% if  journey.is_the_first_date %}
                                                        <li class="nav-item">
                                                            <a class="nav-link active" data-toggle="tab" href="#tabs-{{ forloop.counter}}" role="tab">
                                                                <h5> Jour {{ forloop.counter }}</h5>
                                                                <p>{{ journey.date | date:'d-m-Y' }}</p>
                                                            </a>
                                                        </li>
                                                    {% else %}
                                                        <li class="nav-item">
                                                            <a class="nav-link" data-toggle="tab" href="#tabs-{{ forloop.counter }}" role="tab">
                                                                <h5> Jour {{ forloop.counter }}</h5>
                                                                <p>{{ journey.date | date:'d-m-Y' }}</p>
                                                            </a>
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}
                                                
                                                
                                            </ul><!-- Tab panes -->
                                            <div class="tab-content">
                                                {% for journey in journeys %}
                                                    {% if journey.is_the_first_date %}
                                                        <div class="tab-pane active" id="tabs-{{ forloop.counter }}" role="tabpanel">
                                                            {% for event in journey.get_event %}
                                                                    <div class="st-content">
                                                                        <div class="container">
                                                                            <div class="row">
                                                                                <div class="col-lg-3">
                                                                                    <div class="sc-pic">
                                                                                        <img src = "{{ event.flyers }}">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-lg-5">
                                                                                    <div class="sc-text">
                                                                                        <h4>{{ event.title }}</h4>
                                                                                        <ul>
                                                                                            <li><i class="fa fa-user"></i> {% for elt in event.get_speaker %}{{elt.speaker.full_name}}{% endfor %}</li>
                                                                                            <li><i class="fa fa-envelope"></i>
                                                                                                {% for elt in event.get_speaker %} {{ event.get_speaker.speaker.email }} {% endfor %}
                                                                                            </li>
                                                                                        </ul>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-lg-4">
                                                                                    <ul class="sc-widget">
                                                                                        <li><i class="fa fa-clock-o"></i> {{ event.start_time | time:'H:i' }} - {{ event.end_time | time:'H:i' }}</li>
                                                                                        <li><i class="fa fa-map-marker"></i>
                                                                                            {{ event.location }}
                                                                                        </li>
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                            {% endfor %}
                                                        </div>
                                                    {% else %}
                                                        <div class="tab-pane" id="tabs-{{ forloop.counter }}" role="tabpanel">
                                                            {% for event in journey.get_event %}
                                                                    <div class="st-content">
                                                                        <div class="container">
                                                                            <div class="row">
                                                                                <div class="col-lg-3">
                                                                                    <div class="sc-pic">
                                                                                        <img src = "{{ event.flyers }}">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-lg-5">
                                                                                    <div class="sc-text">
                                                                                        <h4>{{ event.title }}</h4>
                                                                                        <ul>
                                                                                            <li><i class="fa fa-user"></i> {% for elt in event.get_speaker %}{{elt.speaker.full_name}} - {% endfor %}</li>
                                                                                            <li><i class="fa fa-envelope"></i>
                                                                                                {% for elt in event.get_speaker %} {{ event.get_speaker.speaker.email }} {% endfor %}
                                                                                            </li>
                                                                                        </ul>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-lg-4">
                                                                                    <ul class="sc-widget">
                                                                                        <li><i class="fa fa-clock-o"></i> {{ event.start_time | time:'H:i' }} - {{ event.end_time | time:'H:i' }}</li>
                                                                                        <li><i class="fa fa-map-marker"></i>
                                                                                            {{ event.location }}
                                                                                        </li>
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                            {% endfor %}
                                                        </div>
                                                    {% endif %}
                                                
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- Schedule Section End -->
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Schedule Table Section End -->


</body>
{% endblock %}
