
{% extends 'core/base.html' %}

{% load static %}
{% block title %} Intervenants {% endblock %}
{% block body %}
<body>

    <!-- Breadcrumb Section Begin -->
        <section class="breadcrumb-section"style="background-image: url('static/core/img/speaker.jpg'); position: relative; background-repeat: no-repeat; background-size: 84%; background-position:center ;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <h2>Intervenants attendus</h2>
                        <div class="bt-option">
                            <a href="{% url 'core:home' %}">Accueil</a>
                            <span>Intervenants</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Speaker Section Begin -->
    <section class="speaker-section spad pt-5">
        <div class="container">
            <div class="row">
                {% for speaker in speakers %}
                    <div class="col-sm-6", id="speaker-{{speaker.full_name}}">
                        <div class="speaker-item">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="si-pic">
                                        <img src = "{{speaker.profile.url}}">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="si-text">
                                        <div class="si-title">
                                            <h4>{{speaker.full_name|title}}</h4>
                                            <span>Speaker</span>
                                        </div>
                                        <div class="si-social">
                                            {% if speaker.facebook %}<a rel="noopener noreferrer" href="{{speaker.facebook}}"><i class="fa fa-facebook"></i></a>{% endif %}
                                            {% if speaker.twitter %}<a rel="noopener noreferrer" href="{{speaker.twitter}}"><i class="fa fa-twitter"></i></a>{% endif %}
                                            {% if speaker.linkdin %}<a rel="noopener noreferrer" href="{{speaker.linkdin}}"><i class="fa fa-linkedin"></i></a>{% endif %}
                                            {% if speaker.website %}<a rel="noopener noreferrer" href="{{speaker.website}}"><i class="fa fa-globe"></i></a>{% endif %}
                                            
                                        </div>
                                        <p>{{speaker.about|safe}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                
        </div>
    </section>
    <!-- Speaker Section End -->


</body>
{% endblock %}

