
{% extends 'core/base.html' %}

{% load static %}

{% block body %}
<body>

    <!-- Breadcrumb Section Begin -->
        <section class="breadcrumb-section"style="background-image: url('static/core/img/speaker.jpg'); position: relative; background-repeat: no-repeat; background-size: 84%; background-position:center ;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <h2>Intervenants attendus</h2>
                        <div class="bt-option">
                            <a href={% url 'core:home' %}>Accueil</a>
                            <span>intervenants</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Speaker Section Begin -->
    <section class="speaker-section spad pt-5">
        <div class="container">
            <div class="row">
                {% for speaker in speakers %}
                    <div class="col-sm-6">
                        <div class="speaker-item">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="si-pic">
                                        <img src = "{{ speaker.profile }}">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="si-text">
                                        <div class="si-title">
                                            <h4>{{ speaker.full_name }}</h4>
                                            <span>{{ speaker.role }}</span>
                                        </div>
                                        <div class="si-social">
                                            {% if speaker.facebook %}
                                                <a href="{{ speaker.facebook }}"><i class="fa fa-facebook"></i></a>
                                            {% endif %}
                                            {% if speaker.twitter %}
                                                <a href="{{ speaker.twitter }}"><i class="fa fa-twitter"></i></a>
                                            {% endif %}
                                            {% if speaker.linkedin %}
                                                <a href="{{ speaker.linkedin }}"><i class="fa fa-linkedin"></i></a>
                                            {% endif %}
                                            {% if speaker.website %}
                                                <a href="{{ speaker.website }}"><i class="fa fa-globe"></i></a>
                                            {% endif %}
                                            {% if speaker.github %}
                                                <a href="{{ speaker.github }}"><i class="fa fa-github"></i></a>
                                            {% endif %}
                                        </div>
                                        <p>
                                            {{ speaker.about }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Speaker Section End -->


</body>
{% endblock %}

